.StatBox {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  width: 100px;
  text-align: center;
}

.ClassSelectContainer {
  margin-top: -10px;
}

.ClassSelect {
  color: white;
  background-color: #67799d;
  margin: 4px;
  padding: 4px;
  display: inline-block;
  font-size: medium;
  text-decoration: underline;
}

.ClassSelect:hover {
  border-top: 1px;
  cursor: pointer;
}

.DisabledSelect {
  color: grey;
  background-color: #5e687d;
  margin: 4px;
  padding: 4px;
  display: inline-block;
  font-size: medium;
  text-decoration: line-through;
}
.DisabledSelect:hover {
  border-top: 1px;
  cursor:default;
}

.Rare {
  color: greenyellow;
}