

.ClassSelect {
    color: white;
    background-color: #67799d;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    font-size: medium;
    text-decoration: underline;
  }
  
  .ClassSelect:hover {
    text-decoration: none;
    border-top: 1px;
    cursor: pointer;
  }
  
  .DisabledSelect {
    color: grey;
    background-color: #5e687d;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    font-size: medium;
    text-decoration: line-through;
  }
  .DisabledSelect:hover {
    border-top: 1px;
    cursor:default;
  }