
.RaceSelect {
    display: inline-grid;
    grid-template-columns: auto;
}
.RaceOverview {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: inline-grid;
    grid-template-columns: auto auto;
}
@media screen and (min-width: 368px) {
    .RaceOverview {
        grid-template-columns: 124px auto;
    }
    .p1 {
        margin-right: -8px;
    }
}
.ScoreModifier {
    font-size: small;
}
.Description {
    font-size: medium;
}
.RaceAbilities { 
    margin-bottom: 4px;
}
.RaceClasses {
    max-width: 360px;
}